---
import { getJsonCV } from "@/utils";
import { ui } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

const { basics } = getJsonCV();

const { lang } = Astro.params;

const t = useTranslations(lang as keyof typeof ui);
---

<section>
	<h1>{t("section.aboutMe")}</h1>
	<p>{basics.summary}</p>
</section>
