---
import { ui } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof ui);

const { certificates } = t("resume") as any;
---

<section>
	<h1>{t("section.certifications")}</h1>
	{
		certificates.map(({ issuedBy, name, date, url }: any) => (
			<div class="flex flex-col border-b border-gray-100 pb-4">
				<div class="flex gap-2 flex-col sm:flex-row">
					<p>
						[ <time class="opacity-85 font-bold">{date}</time> ]
					</p>
					<h3 class="opacity-80">{name}</h3>
				</div>
				<div class="flex justify-between">
					<span class="tracking-widest">{issuedBy}</span>
					<a href={url} target="_blank" rel="noopener noreferrer">
						view
					</a>
				</div>
			</div>
		))
	}
</section>
