---
import Demo from "@/icons/Demo.astro";
import Github from "@/icons/Github.astro";
import type { IconsProfilesType } from "@/types";
import { getJsonCV } from "@/utils";

const { projects } = getJsonCV();

const ICONS_PROFILES: IconsProfilesType = {
	Github,
	Demo,
};
---

<section>
	<div class="flex">
		<h2>Projects</h2>
		<small class="ms-4 text-[12px] pt-1 h-fit w-fit text-gray-400">
			<em class="px-1">...only the most important</em>
		</small>
	</div>
	<div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3">
		{
			projects.map(
				({ name, description, url, highlights }: any, index: any) => (
					<div class="rounded-lg flex flex-col overflow-hidden border border-solid border-gray-100/50 p-3">
						<div class="flex flex-col space-y-1.5">
							<div class="space-y-1">
								<h3 class="font-semibold tracking-tight text-base opacity-55 flex items-center justify-between">
									{name}
									{url.Demo && (
										<a
											href={url.Demo}
											target="_blank"
											rel="noopener noreferrer"
											class="opacity-75 underline"
											title="Demo"
										>
											 <small>demo</small> 
											 <!-- <Demo class="size-5" /> -->
										</a>
									)}
								</h3>
								<div class="w-fit h-fit flex items-center gap-1">
									{Object.keys(url).map((key) => {
										if (key === "Demo") return;
										const Icon = ICONS_PROFILES[key];
										return (
											<a
												href={
													url[key as keyof typeof url]
												}
												target="_blank"
												rel="noopener noreferrer"
												class="text-sm text-primary-foreground"
											>
												<Icon class="size-4" />
											</a>
										);
									})}
								</div>
								<p class="text-sm min-h-10">{description}</p>
							</div>
						</div>
						<div class="text-pretty font-mono text-sm text-muted-foreground mt-auto flex">
							<div class="mt-2 flex flex-wrap gap-1">
								{highlights.map((item: any) => (
									<small
										class="bg-black/10 px-2 py-0 flex items-center justify-center tracking-wider
                                rounded-md border font-normal text-nowrap border-transparent bg-secondary text-secondary-foreground text-[10px]
                                "
									>
										{item}
									</small>
								))}
							</div>
						</div>
					</div>
				)
			)
		}
	</div>
</section>
