---
import { getJsonCV } from "@/utils";

const { skills } = getJsonCV();
---

<section>
	<h2>Skills</h2>
	<div class="flex gap-1 flex-wrap">
		{
			skills.map(({ name }: any, index: any) => (
				<span class="bg-black/75 text-white font-bold py-1 px-2 w-fit rounded text-sm">
					{name}
				</span>
			))
		}
	</div>
</section>
