---
import AboutMe from "@/components/sections/AboutMe.astro";
import Certifications from "@/components/sections/Certifications.astro";
import Educations from "@/components/sections/Educations.astro";
import Experience from "@/components/sections/Experience.astro";
import Header from "@/components/sections/Header.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tools from "@/components/Tools.astro";
import Layout from "@/layouts/Layout.astro";
import { basics } from "@cv";

const { name } = basics;
---

<Layout title=`RESUME: ${name}`>
	<!-- Dark / White -->
	<!-- <DarkWhite /> -->
	<!-- -->
	<!-- <InProgress /> -->
	<!-- <div class="subject animation"></div> -->

	<main>
		<Header />
		<AboutMe />
		<Experience />
		<Educations />
		<Skills />
		<Projects />
		<Certifications />
		<Tools />
	</main>

	<!-- <KeyboardManager /> -->
</Layout>
