---
import AboutMe from "@/components/AboutMe.astro";
import Educations from "@/components/Educations.astro";
import Experience from "@/components/Experience.astro";
import Header from "@/components/Header.astro";
import InProgress from "@/components/InProgress.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="slaveofthecode">
	<!-- Dark / White -->
	<!-- <DarkWhite /> -->
	<!-- -->

	<main>
		<Header />
		<AboutMe />
		<Experience />
		<Educations />
		<Skills />
		<Projects />
	</main>

	<KeyboardManager />

	<!-- this component for WIP mode -->
	<InProgress />
	<!--  -->
</Layout>
