---
import MainDataMinimalist from "@/components/MainDataMinimalist.astro";
import Certifications from "@/components/sections/Certifications.astro";
import Educations from "@/components/sections/Educations.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import DarkWhite from "../components/DarkWhite.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import Header from "../components/sections/Header.astro";
import { basics } from "../data/resume.json";
import Layout from "../layouts/Layout.astro";

const { name } = basics;
---

<Layout title=`RESUME: ${name}`>
	<DarkWhite />
	<main>
		<Header />
		<AboutMe />
		<Experience />
		<Educations />
		<Skills />
		<Projects />
		<Certifications />
	</main>
	<MainDataMinimalist />
</Layout>
