---
import TextBlue from "../components/TextBlue.astro";
import TextRed from "../components/TextRed.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="slaveofthecode">
	<main>
		<header>
			<h1>slaveofthecode</h1>
		</header>
		<p>veamos que onda</p>
		<section>
			<TextRed />
			<TextBlue < main />
		</section>
	</main>
	<style>
		p {
			color: green;
		}

		section p {
			color: orange;
		}
	</style>
</Layout>
