---
import AboutMe from "@/components/sections/AboutMe.astro";
import Educations from "@/components/sections/Educations.astro";
import Experience from "@/components/sections/Experience.astro";
import Header from "@/components/sections/Header.astro";
import InProgress from "@/components/InProgress.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Layout from "@/layouts/Layout.astro";
import Certifications from "@/components/sections/Certifications.astro";
---

<Layout title="slaveofthecode">
	<!-- Dark / White -->
	<!-- <DarkWhite /> -->
	<!-- -->

	<main>
		<!-- <div class="w-full bg-gray-200 fixed top-2 left-0 text-center z-10">
			<p><em>...coming soon you will see more changes</em></p>
		</div> -->
		<Header />
		<AboutMe />
		<Experience />
		<Educations />
		<Skills />
		<Projects />
		<Certifications />
	</main>

	<!-- <KeyboardManager /> -->

	<!-- this component for WIP mode -->
	<!-- <InProgress /> -->
	<!--  -->
</Layout>

<script>
	import cv from "@cv" assert { type: "json" };
	console.log("HEADER", cv);
</script>
