<style lang="scss">
	#btnToggleSkinMode {
		background: 0;
		border: 0;
		cursor: pointer;
		height: 25px;
		width: 50px;
		position: relative;
		border: 1px solid rgba(255, 255, 255, 0);
		> span {
			transition: 0.3s;
			&:nth-child(1) {
				position: absolute;
				top: 0;
				left: 0;
				width: 50px;
				height: 25px;
				border-radius: 20px;
				background-color: #d6d7db;
				box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
			}
			&:nth-child(2) {
				position: absolute;
				top: 5px;
				left: 5px;
				width: 15px;
				height: 15px;
				background-color: #fff;
				border-radius: 50%;
				box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
			}
		}
	}

	html[data-skin-mode="dark"] {
		#btnToggleSkinMode {
			> span {
				&:nth-child(1) {
					background-color: #ced4e2;
					color: #141516;
				}
				&:nth-child(2) {
					left: 25px;
					background-color: #141516;
				}
			}
		}
	}

	html[data-skin-mode="dark"] a {
		color: #141516;
	}
</style>

<div class="bg-orange-300 w-full flex items-center justify-end absolute top-0">
	<butt class="bg-cyan-200">
		<button id="btnToggleSkinMode" onclick="handleClickToggleSkinMode()">
			<span></span>
			<span></span>
		</button>
	</butt>
</div>

<script is:inline>
	window.onload = function () {
		loadMode();
	};

	function loadMode() {
		if (!("theme" in localStorage)) {
			const isSystemDarkMode = window.matchMedia(
				"(prefers-color-scheme: dark)"
			).matches;
			localStorage.theme = isSystemDarkMode ? "dark" : "light";
		}

		const mode = localStorage.getItem("theme");
		document.documentElement.setAttribute("data-skin-mode", mode);
	}

	function handleClickToggleSkinMode() {
		const mode = localStorage.getItem("theme");
		localStorage.theme = mode === "dark" ? "light" : "dark";
		document.documentElement.setAttribute(
			"data-skin-mode",
			mode === "dark" ? "light" : "dark"
		);
	}
</script>
