<div class="flex justify-end absolute right-0 top-6">
	<div>
		<button class="toggle-switch" onclick="handleClickToggleSkinMode()">
			<span class="toogle-circle"></span>
		</button>
	</div>
</div>

<style lang="scss">
	.toggle-switch {
		position: relative;
		width: 41px;
		height: 23px;
		border-radius: 20px;
		background-color: #d6d7db;
		box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
		transition: all 0.3s ease-in-out;
		> .toogle-circle {
			position: absolute;
			top: 4px;
			left: 5px;
			width: 15px;
			height: 15px;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
			transition: all 0.3s ease-in-out;
		}
	}

	html[data-skin-mode="dark"] {
		.toggle-switch {
			> .toogle-circle {
				left: 23px;
				background-color: #141516;
			}
		}
	}

	html[data-skin-mode="dark"] a {
		color: #141516;
	}
</style>

<script is:inline>
	window.onload = function () {
		loadMode();
	};

	function loadMode() {
		if (!("theme" in localStorage)) {
			const isSystemDarkMode = window.matchMedia(
				"(prefers-color-scheme: dark)"
			).matches;
			localStorage.theme = isSystemDarkMode ? "dark" : "light";
		}

		const mode = localStorage.getItem("theme");
		document.documentElement.setAttribute("data-skin-mode", mode);
	}

	function handleClickToggleSkinMode() {
		const mode = localStorage.getItem("theme");
		localStorage.theme = mode === "dark" ? "light" : "dark";
		document.documentElement.setAttribute(
			"data-skin-mode",
			mode === "dark" ? "light" : "dark"
		);
	}
</script>
