<section>
	<h1>Education</h1>
	<div class="flex justify-between items-center">
		<h2>
			<strong class="opacity-60 text-sm me-2">I.S.S.D</strong>
			Instituto Superior Santo Domingo
		</h2>
		<time class="text-gray-400 text-xs"> 2001 - 2006</time>
	</div>
	<p>System Analyst</p>
</section>
