---
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
---

<footer class="p-10 bg-black flex justify-center">
	<nav class="flex gap-x-5">
		<a
			href="https://www.linkedin.com/in/gustavoml/"
			title="LinkedIn"
			target="_blank"
		>
			<LinkedIn class="size-6" />
		</a>
		<a
			href="https://github.com/slaveofthecode"
			title="Github"
			target="_blank"
		>
			<Github class="size-6" />
		</a>
	</nav>
</footer>
