---
import Email from "../icons/Email.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import World from "../icons/World.astro";
---

<section class="flex gap-x-2">
	<div>
		<h1>Gustavo Lopez</h1>
		<p>
			Seior Software Developer with more 15 years of experience, focused
			on building products with extra attention to detail
		</p>
		<small class="flex gap-2 my-2 items-center text-gray-400">
			<World class="size-4 opacity-30" />
			<a href="https://maps.app.goo.gl/KFEHPvrF6D5m2iuGA">
				Córdoba, <strong>ARGENTINA</strong></a
			>
		</small>
		<div class="flex items-center gap-2 my-2">
			<a
				href="https://www.linkedin.com/in/gustavolopezdev/"
				target="_blank"
				title="Connect with me on LinkedIn"
				class="p-2 border border-gray-200 rounded-md"
			>
				<LinkedIn class="size-4" />
			</a>
			<a
				href="https://github.com/slaveofthecode"
				target="_blank"
				title="Check my repositories on GitHub"
				class="p-2 border border-gray-200 rounded-md"
			>
				<Github class="size-4" />
			</a>
			<a
				href="https://wa.me/5493512456789"
				target="_blank"
				title="Send me a message on WhatsApp"
				class="p-2 border border-gray-200 rounded-md"
			>
				<WhatsApp class="size-4" />
			</a>
			<a
				href="mailto:gml.gustavoml@gmail.com"
				target="_blank"
				title="Send me an email"
				class="p-2 border border-gray-200 rounded-md"
			>
				<Email class="size-4" />
			</a>
		</div>
	</div>
	<figure class="relative flex shrink-0 overflow-hidden rounded-xl size-32">
		<img
			src="https://media.licdn.com/dms/image/D4D03AQFtKCYBTDGZMQ/profile-displayphoto-shrink_800_800/0/1700748305087?e=1713398400&v=beta&t=8qnNOA88eCMcixZuKo_aznKpQh39uK5hP4zpmbNcr_w"
			alt="Gustavo Lopez"
			class="aspect-square h-full w-full"
		/>
		<!-- <figcaption>+16</figcaption> -->
	</figure>
</section>
