<figure class="flex p-8 gap-6 bg-black justify-center">
	<div class="relative text-yellow-600 font-extrabold">
		<span class="absolute -bottom-5 left-0 text-xs">+</span>
		<span class="absolute -bottom-6 left-3 text">16</span>
		<img
			class="size-32 rounded-lg"
			src="/public/img/me.jpeg"
			alt="Gustavo Lopez"
		/>
	</div>
	<div>
		<blockquote class="my-2">
			<p class="text-pretty opacity-75">
				I am a software developer by accident, although my idea was
				another career... but hey, now I'm here 🙂.
			</p>
			<p class="text-pretty opacity-75">
				My first project was without the Internet and for a desktop
				application. Nowadays, I develop with the help of AI but
				prioritize my own. 😉
			</p>
		</blockquote>
		<figcaption>
			<div class="text-4xl">Gustavo Lopez</div>
			<div class="text-orange-100 tracking-widest">
				Senior Software Developer
			</div>
		</figcaption>
	</div>
</figure>
