---
const LIST_PROJECTS = [
	{
		name: "Styles Conference",
		link: "#",
		description: "A conference website for a fictional event.",
		stack: ["HTML", "CSS", "JS"],
	},
	{
		name: "Vamos peinetar",
		link: "#",
		description: "Description 2",
		stack: ["HTML", "CSS", "JS", "REACT", ".NET"],
	},
	{
		name: "Project 3",
		link: "#",
		description: "Description 3",
		stack: ["HTML", "CSS", "JS", "REACT", "NODE", "EXPRESS", "MONGODB"],
	},
	{
		name: "Project",
		link: "#",
		description: "Description 4",
		stack: [
			"HTML",
			"CSS",
			"JS",
			"REACT",
			"NODE",
			"EXPRESS",
			"MONGODB",
			"FIREBASE",
		],
	},
];
---

<section>
	<h1>Projects</h1>
	<div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3">
		{
			LIST_PROJECTS.map((project, index) => (
				<div class="rounded-lg bg-card text-card-foreground flex flex-col overflow-hidden border border-dotted p-3">
					<div class="flex flex-col space-y-1.5">
						<div class="space-y-1">
							<h3 class="font-semibold tracking-tight text-base">
								<a
									href={project.link}
									target="_blank"
									class="inline-flex items-center gap-1 hover:underline"
								>
									{project.name}
								</a>
							</h3>
							<p class="text-sm">{project.description}</p>
						</div>
					</div>
					<div class="text-pretty font-mono text-sm text-muted-foreground mt-auto flex">
						<div class="mt-2 flex flex-wrap gap-1">
							{project.stack.map((stack, index) => (
								<small
									class="bg-black/10 p-1 flex items-center justify-center 
                                rounded-md border font-semibold font-mono transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-nowrap border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/60 px-1 py-0 text-[8px]
                                "
								>
									{stack}
								</small>
							))}
						</div>
					</div>
				</div>
			))
		}
	</div>
</section>
