---
const LIST_SKILLS = [
	"HTML5",
	"CSS3",
	"JavaScript",
	"React",
	"Vue",
	"Node.js",
	"Express",
	"MongoDB",
	"Git",
	"GitHub",
	"GitLab",
	"Bitbucket",
	"Jira",
	"Confluence",
	"Slack",
	"Microsoft Teams",
	"Google Drive",
	"Microsoft Office",
];
---

<section>
	<h1>Skills</h1>
	<div class="flex gap-1 flex-wrap">
		{
			LIST_SKILLS.map((skill, index) => (
				<span class="bg-black/75 text-white/75 py-1 px-2 w-fit rounded text-sm">
					{skill}
				</span>
			))
		}
	</div>
</section>
