---
import MainDataMinimalist from "@/components/MainDataMinimalist.astro";
import Certifications from "@/components/sections/Certifications.astro";
import Educations from "@/components/sections/Educations.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import DarkWhite from "../../components/DarkWhite.astro";
import MultilanguageSelect from "../../components/MultilanguageSelect.astro";
import AboutMe from "../../components/sections/AboutMe.astro";
import Header from "../../components/sections/Header.astro";
import { basics } from "../../data/resume.json";
import { LANGUAGES } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const { name } = basics;

export async function getStaticPaths() {
	return LANGUAGES.map((lang) => ({
		params: {
			lang: lang.lang,
		},
	}));
}
const { lang } = Astro.params;
---

<Layout title=`RESUME: ${name}`>
	<!-- <InProgress /> -->
	<!-- <KeyboardManager /> -->
	<MultilanguageSelect />
	<DarkWhite />
	<main>
		<Header />
		<AboutMe lang={lang} />
		<Experience />
		<Educations />
		<Skills />
		<Projects />
		<Certifications />
	</main>
	<MainDataMinimalist />
</Layout>
