---
import "@fontsource/covered-by-your-grace";
import "@fontsource/zen-kaku-gothic-new";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Rubik+Mono+One&display=swap");

	::root {
		/* --black-not-so-black: #13151a;
		--black-real-black: #000; */

		/* --font-slaveofthecode: "Covered By Your Grace"; */
		--font-default: "Zen Kaku Gothic New";
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-size: 16px;
	}

	body {
		font-family: var(--font-default);
		margin: 0 auto;
		/* height: 100vh; */
		width: 720px;
		padding-top: 5rem;

		> main {
			> section {
				margin-bottom: 3rem;
			}
		}
	}

	h1 {
		font-family: "Rubik Mono One", monospace;
		font-weight: 400;
		font-style: normal;
		margin-bottom: 0.5rem;
	}

	p {
		font-family: "Cutive Mono", monospace;
		font-weight: 400;
		font-style: normal;
	}
</style>
