---
import { basics } from "@cv/resume.json";
import "@fontsource/covered-by-your-grace";
import "@fontsource/zen-kaku-gothic-new";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const { photo } = basics;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Senior Software Developer with over 15 years of experience"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href={photo} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="flex flex-col items-center pt-[2rem] pb-[3rem] sm:pt-[5rem]
		w-10/12 overflow-x-hidden sm:w-10/12 md:w-9/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12
		relative dark:bg-black/85 dark:text-gray-100"
	>
		<slot />
		<SpeedInsights />
	</body>
</html>
<style is:global>
	@import "../styles/reset.css";
</style>
