---
import { basics } from "@cv";
import "@fontsource/covered-by-your-grace";
import "@fontsource/zen-kaku-gothic-new";

interface Props {
	title: string;
}

const { title } = Astro.props;
const { photo } = basics;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href={photo} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="flex flex-col items-center pt-[2rem] pb-[3rem] sm:pt-[5rem]
		w-10/12 overflow-x-hidden sm:w-10/12 md:w-9/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12
		relative dark:bg-black/85 dark:text-gray-100"
	>
		<slot />
	</body>
</html>
<style is:global lang="scss">
	@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Rubik+Mono+One&display=swap");

	::root {
		--font-default: "Zen Kaku Gothic New";
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		// @apply transition-colors duration-200;
	}

	html {
		font-size: 16px;
	}

	body {
		font-family: var(--font-default);
		margin: 0 auto;

		> main {
			> section {
				margin-bottom: 4rem;
			}
		}
	}

	h1 {
		font-family: "Rubik Mono One", monospace;
		font-weight: 400;
		font-style: normal;
		margin-bottom: 0.5rem;
		opacity: 0.75;
	}

	p {
		font-family: "Cutive Mono", monospace;
		font-weight: 400;
		font-style: normal;
		opacity: 0.65;
	}

	a {
		color: inherit;
		text-decoration: none;
		opacity: 0.5;
		transition: all 0.2s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}

	img {
		filter: grayscale(1);
		object-fit: cover;
	}
</style>
